.tasks {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.tasks header {
  display: flex;
  justify-content: space-between;
  width: 41rem;
  margin-bottom: 24px;
}

.tasks h2,
.tasks h3 {
  font-weight: 700;
  font-size: 0.875rem;
}

.tasks h2 {
  color: var(--blue-basic);
}

.tasks h3 {
  color: var(--purple-basic);
}

.tasks span {
  background: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;
  color: var(--gray-200);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
