.app {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-600);
  height: 100%;
  align-items: center;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
